numpy==1.23.3
ipykernel
ipywidgets
matplotlib
opencv-python
torch 
torchvision 
torchaudio
safetensors
omegaconf
transformers
xformers
accelerate
lark-parser
tqdm
diffusers
scipy
scikit-image
timm 
ftfy 
regex 
git+https://github.com/openai/CLIP.git
ipyplot
peft==0.6.2